.green{
    background-color: green;
}
.black{
    background-color: black;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.lightblue{
    background-color: #4584EF;
}
.lightgreen{
    background-color: #4CAF50;
}
.dimblack{
    background-color: #535353;
}
.white{
    background-color: white;
}
.gray{
    background-color: gray;
}
.lightgray{
    background-color: lightgray;
}
.skyblue{
    background-color: skyblue;
}
.darkred{
    background-color: #7f2a2a;
}
.lightred{
    background-color: #f99393;
}

.t-white{
    color: white;
}
.t-black{
    color: black;
}
.t-blue{
    color: blue;
}
.t-red{
    color: red;
}
.t-darkgreen{
    color: darkgreen;
}
.t-gray{
    color: gray;
}