.green{
    background-color: green;
}
.black{
    background-color: black;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.lightblue{
    background-color: #4584EF;
}
.lightgreen{
    background-color: #4CAF50;
}
.dimblack{
    background-color: #535353;
}
.white{
    background-color: white;
}
.gray{
    background-color: gray;
}
.lightgray{
    background-color: lightgray;
}
